.home-background {
  background-image: url('../../public/fondoBackground.png');
  position: relative;              
  background-size: cover;                                                                        
  background-position: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.imagen{
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;

}

.text {
margin: 100px;
position: relative;
z-index: 1;
font-size: 40px;
letter-spacing: 1px; /* Ajusta el espaciado entre letras */
line-height: 0.4; /* Ajusta la altura de línea para un mejor aspecto */
height: 500px; /* Manten la altura si es necesario */
}

.text {
margin: 100px;
position: relative;
z-index: 1;
font-size: 40px;
letter-spacing: 1px; /* Ajusta el espaciado entre letras */
line-height: 0.4; /* Ajusta la altura de línea para un mejor aspecto */
height: 500px; /* Manten la altura si es necesario */
}

.textoderecho {
margin-right: 100px;
}

.greyFont {
color: grey;
}

.blueBold {
color: #004AAD;
font-weight: bold;
}

.blueBoldFont {
color: #4BB5CB;
font-weight: bold;
font-size: larger; 
}

.button {
padding: 10px 20px;
margin-top: 20px;
background-color: #4BB5CB;
color: white;
font-size: 1.2rem;
border: none;
cursor: pointer;
border-radius: 30px;
}

.button:hover {
background-color: #0097A7;
border: #004AAD;
}

