body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #ffffff;
  overflow: hidden; /* Evita el scroll vertical */
}

.home-background {
  background-image: url('../../public/fondoBackground.png');
  background-size: cover;
  background-position: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75vh; /* Ajusta la altura al 100% del viewport */
}

.text {
  margin: 100px;
  position: relative;
  z-index: 1;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 0.4;
  height: 400px; /* Ajusta la altura según necesidades */
}

.textoderecho {
  margin-right: 100px;
}

.greyFont {
  color: grey;
}

.blueBold {
  color: #004AAD;
  font-weight: bold;
}

.blueBoldFont {
  color: #4BB5CB;
  font-weight: bold;
  font-size: larger;
}

.button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4BB5CB;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.button:hover {
  background-color: #0097A7;
}
