.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #ffffff;
  }
  
  .form {
    background-color: #4bb5cb;
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Open Sans", sans-serif;
  }
  
  .form-title {
    text-align: center;
    color: rgb(46, 46, 46);
  }
  
  .form-label {
    color: rgb(46, 46, 46);
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: "Open Sans", sans-serif;
  }
  
  .form-checkbox {
    display: flex;
    align-items: center;
    color: rgb(46, 46, 46);
    font-family: "Open Sans", sans-serif;
  }
  
  .form-checkbox input {
    margin-right: 10px;
  }
  
  .form-error {
    color: rgb(46, 46, 46);
    font-size: 17px;
    text-align: center;
    font-weight: bold;
  }
  
  .form-button {
    background-color: #0044ad;
    color: white;
    border: none;
    border-radius: 22px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
  }
  
  .form-button:hover {
    background-color: #003a99;
  }
  
  .form-link {
    color: rgb(46, 46, 46);
    text-align: center;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
  }

  
  .form-link:hover {
    text-decoration: underline;
  }
  
  .hostel-info {
    margin-top: 20px;
    text-align: center;
    color: #0044ad;
    font-size: 18px;
  }
  